#welcomeSection {
  overflow: hidden;
  position: relative;
  background-image: url("/images/index/welcome-background.svg");
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 20%;
}

#welcomeHeader {
  margin: 2% auto 2% 10%;
  color: #333333;
}

#welcomeBody {
  margin-left: 10%;
  max-width: 40%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#spinningLogo {
  position: absolute;
  width: 20%;
  left: 70%;
  bottom: 12%;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#arrowIcon {
  position: absolute;
  width: 20%;
  left: 70%;
  bottom: 12%;
  transform: scale(0.5, 0.5);
}

.eventHeader {
  position: absolute;
  top: -11%;
  left: 10%;
}

.eventHeader a {
  text-decoration: none;
}

.eventHeaderText {
  color: #333333;
}

.eventSection {
  position: relative;
  width: auto;
  height: 50em;
  background: #333333;
}

.eventBody {
  position: relative;
  top: 2rem;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#addressSection {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  padding-top: 8%;
  padding-bottom: 8%;
}

#leftLogo {
  position: absolute;
  float: left;
  height: 99%;
  bottom: 0%;
  right: 82%;
}

#rightLogo {
  position: absolute;
  float: right;
  height: 99%;
  bottom: 0%;
  left: 82%;
}

#formSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-image: url("/images/index/form-background.svg");
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}

#formBody {
  width: 40%;
}

#formHeader {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#formText {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#formIcons {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

#formInput {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  width: 35%;
  height: 12rem;
  border-radius: 1rem;
  background-color: #da880c;
}

#emailField {
  grid-column: 1 / span 2;
  width: 71%;
  height: 60%;
  font-size: 100%;
  border: none;
  border-radius: 1rem;
  align-self: flex-end;
  padding-left: 9%;
  padding-right: 9%;
}

#nameField {
  width: 61%;
  height: 60%;
  font-size: 100%;
  border: none;
  border-radius: 1rem;
  align-self: flex-start;
  justify-self: end;
  padding-left: 15%;
  padding-right: 15%;
}

#submitBtn {
  background-color: #333333;
  color: white;
  width: 75%;
  height: 65%;
  font-size: 100%;
  border: none;
  border-radius: 1rem;
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  #welcomeBody {
    max-width: 30rem;
  }

  .eventSection {
    height: 40rem;
  }

  .eventHeader {
    top: -5em;

  }

  .eventHeader>a {
    color: #333333;
    text-decoration: none;
  }

  .eventHeaderText {
    font-size: 45px;
    color: #333333;
  }

  .eventBody {
    transform: scale(80%);
  }

  #formHeader {
    width: 80%;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  #welcomeHeader {
    font-size: 4rem;
  }

  #welcomeBody {
    max-width: 20rem;
    font-size: 1em;
  }

  #formSection {
    flex-direction: column;
    row-gap: 50px;
  }

  #formBody {
    width: 60%;
  }

  #formInput {
    width: 60%;
  }

  .eventHeader {
    top: -5em;
  }

  .eventHeaderText {
    font-size: 40px;
  }

  .eventSection {
    position: relative;
    width: auto;
    height: 70em;
    background: #333333;
  }

  .eventBody {
    position: relative;
    top: 0;
    flex-direction: column;
    transform: scale(90%);
    height: 70em;
  }

  /* #leftLogo {
    visibility: hidden;
  }

  #rightLogo {
    visibility: hidden;
  } */
}

@media screen and (max-width: 480px) {
  #welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 30%;
    height: 20rem;
  }

  #welcomeHeader {
    margin: 0px;
    font-size: 3rem;
  }

  #welcomeBody {
    margin: 0px;
    font-size: 12px;
  }

  #spinningLogo {
    bottom: 15%;
  }

  #arrowIcon {
    bottom: 15%;
  }

  .eventHeader {
    position: absolute;
    top: -3.8em;
    left: 3.5em;
  }

  .eventHeaderText {
    font-size: 25px;
  }

  .eventSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 45em;
    background: #333333;
  }

  .eventBody {
    position: relative;
    top: 0;
    flex-direction: column;
    transform: scale(60%);
  }

  #formSection {
    flex-direction: column;
    row-gap: 10px;
  }

  #formBody {
    width: 75%;
    transform: scale(0.8, 0.8);
  }

  #formInput {
    width: 75%;
    transform: scale(0.8, 0.8);
  }
}