.container {
    display: flex;
    align-items: center;
    column-gap: 21px;
    cursor: pointer;
    flex-basis: calc(47%);
    /* margin: 20px; */
}

.container * {
    margin: 0;
    box-sizing: border-box;
}

.container>img {
    border-radius: 50%;
    aspect-ratio: 1;
    max-height: 113px;
}

.associateTextGroup>h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 3px;
}

.associateTextGroup>p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #333333;
}

.modal {
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

.modalContent {
    margin: auto;
    background-color: white;
    padding: 65px;
    border-radius: 10px;
    display: flex;
    width: 80%;
    max-width: 985px;
}

.column1 {
    width: 35%;
    max-width: 200px;
    margin-right: 40px;
}

.column1>img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    margin-bottom: 35px;
}

.column1>h4 {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #345707;
    margin: 0;
}

.column1>p {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}

.column2 {
    /* max-width: 200px; */
}

.column2>h3 {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #345707;
    margin: 0;
    margin-bottom: 20px;
}

.column2>p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}

.hidden {
    display: none;
}

.associateName {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 3vh;

    /* identical to box height, or 111% */
    letter-spacing: 0.03em;

    color: #000000;

}

.associateDescription {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    /* identical to box height, or 111% */
    letter-spacing: 0.03em;

    color: #000000;
}

@media screen and (max-width:1200px) {
    .container {
        width: 100%;
        max-width: none;
    }

}

/* mobile view */
@media screen and (max-width:768px) {
    .associateName {
        font-size: 30px;
    }

    .associateDescription {
        font-size: 16px;
    }

    .container {
        min-width: 40%;
    }

    .container>img {
        max-height: 80px;
    }

    .associateTextGroup>h3 {
        font-size: 20px;
        line-height: 1.2;
    }

    .associateTextGroup>p {
        font-size: 16px;
        line-height: 1.2;
    }


    .modalContent {
        padding: 30px;
    }

    .column1 {
        margin-right: 25px;
    }

    .column1>img {
        margin-bottom: 15px;
    }

    .column1>p {
        font-size: 14px;
        line-height: 1.5;
        overflow-wrap: break-word;
    }

    .column2>p {
        font-size: 14px;
        line-height: 1.5;
    }
}