.Donate{
    display: flex;
    align-items: center;
    width: 14.1em;
    height: 3.75em;
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    line-height: 3.75em;


}