.footer {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 329px;
    
    background: linear-gradient(91.59deg, #DA880C 9.94%, #FFD596 96.81%);
    margin-top: 50px;
}

.left h1 {
    font-family: Hatton;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;

    color: #333333;
    margin-left: 150px;
    margin-top: 117px;
    margin-right: 105px;
    margin-bottom: 0px;

    width: 500px;
    height: 45px;
}

.left p {
    /* Arial Body */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #333333;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 819px;

    width: 500px;
    height: 20px;

}

.footer button {
    width: 460px;
    height: 170px;
    background: #DA880C;
    border-radius: 10px;

    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 105px;

}