.communityHeader {
    background-image: url("/welcome_background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    z-index: 5;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 20%;
}

.title {
    /* Community */
    /* identical to box height, or 102% */
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;

    /* Heading 1 */
    font-family: Hatton;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5em;
    line-height: 0.05em;
    text-transform: uppercase;

    /* Dark Grey */
    color: #333333;
}

.subtitle {
    /* Get access to our NVSI Network */
    /* identical to box height */
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;

    /* Heading 3 */
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 0.25em;

    /* Dark Grey */
    color: #333333;
}

.container * {
    margin: 0;
    box-sizing: border-box;
}

.search {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5em 0.1em 1em 0.1em;
}

.searchBar {
    /* search key terms or names to find community members */
    background: #FFFFFF;
    background-image: url('/search_icon.svg');
    background-size: 1.75rem;
    background-position-y: center;
    background-position-x: 1em;
    background-repeat: no-repeat;
    border: 1.5px solid #484848;
    box-sizing: border-box;
    border-radius: 0.5em;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 2.5em;
    padding: 0.125em 3em 0.125em 4em;
    width: 70%;

    /* identical to box height */
    color: #727272;
    margin-bottom: 74px;
}

.container {
    max-width: 1020px;
    margin-inline: auto;
}

.container>h2 {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.container>h2>img {
    margin-left: 10px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 60px;
    row-gap: 35px;
    margin-bottom: 70px;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: calc(50% - 30px);
    /* height: 100px; */
    max-height: 150px;
    column-gap: 16px;
}

.card>img {
    border-radius: 50%;
    max-height: 100px;
}

.cardInfo>h3 {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 3px;
}

.cardInfo>p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #727272;
    margin-bottom: 5px;
}

.cardInfo>a {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #052F61;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 3em;
    }

    .subtitle {
        font-size: 1em;
    }
}