.footer {
    width: 1920px;
    height: 329px;
    
    background: linear-gradient(91.59deg, #DA880C 9.94%, #FFD596 96.81%);
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left h1 {
    font-family: Hatton;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;

    color: #333333;
    margin-left: 390px;
    margin-top: 117px;
    margin-bottom: 0px;
    margin-right: 210px;

    width: 500px;
    height: 45px;

    flex-shrink: 1;
}

.left p {
    /* Arial Body */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #333333;
    margin-top: 0px;
    margin-left: 390px;

    width: 500px;
    height: 20px;

}

.footer button {
    width: 459px;
    height: 168px;
    background: #DA880C;
    border-radius: 10px;

    margin-top: 80px;
    margin-right: 390px;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
    width: 72px;
    margin-left: 390px;
}