.head {
  padding: 200px 62px 0;
  background: linear-gradient(273.96deg, #E7971E -2.94%, #FFD596 99.41%);
  margin-bottom: 80px;
}

.head * {
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  padding: 0 62px;
  margin: auto;
  font-family: Arial;
  column-gap: 40px;
  padding-bottom: 60px;
}

.left {
  width: 70%;
  max-width: 725px;
  line-height: 25px;
}

.right {
  width: 310px;
  line-height: 25px;
}

#contactTitle {
  display: none;
}

.h2 {
  font-family: Hatton !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 30.24px !important;
  color: #052f61;
}

#links {
  color: #052f61;
  list-style: none;
  margin-bottom: 50px;
  padding: 0;
}

#links a {
  color: #052f61;
  text-decoration: none;
  margin-left: 8px;
}

.headlineContainer {
  width: 568px;
  font-family: Arial;
}

.tagContainer {
  font-family: Arial;
  padding-top: 15px;
}

.tag {
  display: inline-flex;
  font-size: 16px !important;
  line-height: 22px;
  width: fit-content;
  color: #ffffff;
  padding: 4px 14px;
  margin: 3px 6px 3px 0px;
  border-radius: 48px;
}

.tag:first-child {
  background: #D8A659;
}

.tag:nth-child(2) {
  background: #7A935B;
}

.tag:nth-child(3) {
  background: #44848E;
}

.profilePhoto {
  width: 310px;
  height: 310px;
  object-fit: fill;
  border-radius: 50%;
  margin-bottom: -50px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 1200px) {

}

/* Large devices (for large screens like Desktops) */
@media (max-width: 1024px) {
}

/*  for small screens like laptop) */
@media (max-width: 768px) {
  .head {
    padding: 60px 30px 40px;
    margin-bottom: 40px;
  }

  .main {
    padding: 0 30px 30px;
    flex-direction: column;
  }

  .left {
    order: 1;
    width: 100%;
  }

  .right {
    width: 100%;
    margin-bottom: 30px;
  }

  .profilePhoto {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
  }
}

@media (max-width: 550px) {
  .head {
    padding: 60px 25px 40px;
    margin-bottom: 25px;
  }

  .main {
    padding: 0 25px 25px;
  }

  .info {
    flex-direction: column;
  }

  .headlineContainer {
    width: 100%;
    order: 1;
  }

  .profilePhoto {
    width: 250px;
    height: 250px;
    margin-bottom: 25px;
  }
}

/*  for iPads & tablets */
@media (max-width: 480px) {
}

@media (max-width: 320px) {
}