.head {
  background: linear-gradient(91.59deg, #5D90CD 9.94%, #052F61 96.81%);
  padding: 347px 60px 40px;
}

.head * {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

.head>h1 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.container {
  padding: 51px 60px;
  max-width: 1250px;
  margin-inline: auto;
  display: flex;
  column-gap: 40px;
}

.container * {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

.file {
  width: 65%;
}

.file>a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #333333;
}

.wrapper {
  width: 100%;
  height: 700px;
}