.head {
  background: linear-gradient(91.59deg, #5D90CD 9.94%, #052F61 96.81%);
  padding: 347px 60px 40px;
}

.head * {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

.head>h1 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.container {
  padding: 51px 60px;
  max-width: 1250px;
  margin-inline: auto;
  display: flex;
  column-gap: 40px;
}

.container * {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

.file {
  /* width: 65%; */
}

.file>a {
  display: inline-block;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #333333;
  margin-bottom: 10px;
  width: auto;
}

.wrapper {
  width: 100%;
  padding: 15px;
  background: #C4C4C4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper span {
  display: none;
}

.document {
  display: flex;
  justify-content: center;
}

.page {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.page>canvas {
  width: 100% !important;
  height: auto !important;
}

.buttons {
  display: flex;
  /* column-gap: 20px; */
  justify-content: space-between;
}

.buttons>button {
  background-color: #5D90CD;
  color: white;
  padding: 8px 15px;
  font-family: "Arial";
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons>button:disabled {
  background-color: #8e98a3;
}

.info {
  flex-grow: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  margin-bottom: 50px;
}

.tags>p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 5px 15px;
  border-radius: 48px;
}

.tags>p:nth-child(3n+1) {
  background: #D8A659;
}

.tags>p:nth-child(3n+2) {
  background: #7A935B;
}

.tags>p:nth-child(3n+3) {
  background: #44848E;
}

.info>h2 {
  font-family: 'Hatton';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #052F61;
  margin-bottom: 10px;
}

.authors {
  padding-left: 20px;
}

.authors>li {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #333333;
}

@media screen and (max-width: 768px) {
  .head {
    padding: 200px 25px 25px;
  }

  .container {
    padding: 40px 25px;
  }

  .buttons>button {
    font-size: 12px;
  }
  
  .container {
    flex-direction: column;
  }

  .info {
    order: 1;
  }

  .file {
    order: 2;
  }

  .authors {
    margin-bottom: 40px;
  }
}