.headerSection {
  background-image: url("/images/get-involved/header-section-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  padding: 20% 0 20% 0;
}

.headerSection h1 {
  position: relative;
  top: 5%;
  color: white;
  margin-bottom: 0px;
}

.headerSection p {
  position: relative;
  top: 5%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

.container {
  display: flex;
  padding-inline: 25px;
  flex-direction: column-reverse;
  justify-content: space-between;
  width:80%;
  align-items: center;
  column-gap: 50px;
  margin-inline: auto;
  margin-bottom: 150px;
}

.container * {
  margin: 0;
  box-sizing: border-box;
}

.description {
  width:100%;
  display: flex;
  flex-direction: column;
}

.description>p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.description>a {
  align-self: flex-end;
}

.description>a>button {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #5D90CD;
  border-radius: 10px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
}

.description>h2, .testimonials>h2 {
  font-family: 'Hatton';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 24px;
}

.testimonials {
  /* flex-grow: 1; */
  min-width: 50%;
  /* max-width: 60%; */
}

.group {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.card {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.card>img {
  border-radius: 50%;
  aspect-ratio: 1;
  max-height: 120px;
}

.cardInfo>h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
}

.cardInfo>h4 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #727272;
}

.cardInfo>p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 30%;
    height: 20rem;
    margin-bottom: 70px;
  }

  .headerSection h1 {
    text-align: center;
  }

  .container {
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 70px;
  }

  .description {
    order: 1;
    max-width: none;
  }

  .testimonials {
    order: 2;
    max-width: none;
  }
}

@media screen and (max-width: 480px) {
  .headerSection h1 {
    font-size: 3rem;
  }

  .headerSection p {
    font-size: 1rem;
  }

  .card {
    column-gap: 20px;
  }

  .card>img {
    max-height: 80px;
  }

  .cardInfo>h3 {
    font-size: 20px;
    line-height: 1.2;
  }

  .cardInfo>p {
    font-size: 14px;
    line-height: 1.2;
  }
}