.headerSection {
    position: relative;
    background-image: url("/images/headerBackground/aboutBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12%;
    padding-bottom: 17%;
}

.headerTitle {
    position: relative;
    left: 10%;
    font-weight: 400;
    font-size: 72px;
    line-height: 91px;
    color: #FFFFFF;
}

.headerBody {
    position: relative;
    width: 40rem;
    left: 10%;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

.pillarContainer {
    background: #333333;
    mix-blend-mode: normal;

    height: 500px;
}

.pillarHeader {
    position: relative;
    margin-top: -4.5%;
    left: 10%
}

.pillarHeader a {
    text-decoration: none;
}

.pillarHeaderText {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #333333;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colorBG{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 0;

    opacity: 0.5;
}