.pageContainer {
    width: 100%;
    right: 0;
}
.headerSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("/images/headerBackground/aboutBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    align-content: space-between;
}

.headerTitle {
    left: 10%;
    top: 30%;
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 11.5vh;
    color: #FFFFFF;
}

.headerBody {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    width: 80vw;
    /* identical to box height, or 111% */
    letter-spacing: 0.03em;
    
    color: #000000;
    font-weight: 400;
    font-size: 2.76vh;
    line-height: 138%;

    color: #FFFFFF;
}

.pillarHeader {
    position: absolute;
    top: 98%;
    left: 15%;
}

.pillarContainer {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    background: #333333;
    mix-blend-mode: normal;
    padding-left: 2%;
    padding-right: 2%;
    height: 40vh;
}

.pillarHeaderText {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 400;
    font-size: 5.2vh;
    letter-spacing: 0.03em;
    line-height: 10%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    bottom: 5%;
    margin-bottom: 17%;
    

    color: #000000;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.colorBG{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 0;

    opacity: 0.5;
}