.pageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.headerSection {
    display: flex;
    position: relative;
    height: 100vh;
    flex-direction: column;
    background-image: url("/images/headerBackground/aboutBackground.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    align-content: space-between;
    padding: 10%;
}

.headerTitle {
    position: relative;
    height: 11.5%;
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 11.5vh;
    color: #FFFFFF;
}

.headerBody {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    width: 30em;
    /* identical to box height, or 111% */
    letter-spacing: 0.03em;
    
    color: #000000;
    font-weight: 400;
    font-size: 2.76vh;
    line-height: 138%;

    color: #FFFFFF;
}

.pillarHeader {
    position: absolute;
    top: 98%;
    left: 20%;
}

.pillarContainer {
    position: relative;
    display: flex;
    padding: auto;
    background: #333333;
    mix-blend-mode: normal;
    padding-left: 2%;
    padding-right: 2%;
    height: 50vh;
}

.pillarHeaderText {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 400;
    font-size: 5.2vh;
    letter-spacing: 0.03em;
    line-height: 10%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    bottom: 5%;
    margin-bottom: 17%;
    

    color: #000000;
}

.whiteSpaceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5%;
    position: relative;
    height: 100vh;
}

.donateRectangle {
    display: flex;
    height: 20vh;
    width: 83vw;
    border-radius: 2vw;
    background-color: #333333;
}

.associatesListSectionContainer {
    margin-top: 10vh;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.associatesListTitle {
    margin-bottom: 10vh;
    font-family: "Hatton";
    font-size: 5vh;
}

.listContainer {
    display: flex;
}

.contact_rectangle {
    height: 30vh;
}

.colorBG{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 0;

    opacity: 0.5;
}