

.profileContainer {
    width: 40vw;
    position: relative;
    display: flex;
    padding: 1vw;
    height: 15vh;
    justify-content: center;
    align-content: center;
}

.associateTextGroup {
    display: flex;
    flex-direction: column;
    height: 5vw;
    justify-content: space-around;
}

.pfpIcon {
    margin-right: 1vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #333;
}

.profileColumn1 {
    position: absolute;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.profileColumn2 {
    position: absolute;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.associateName {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 3vh;
    
    /* identical to box height, or 111% */
    letter-spacing: 0.03em;
    
    color: #000000;
    
}

.associateDescription{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    /* identical to box height, or 111% */
    letter-spacing: 0.03em;
    
    color: #000000; 
}