.container {
  position: relative;
  width: 18%;
}

.container::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

.pic {
  border-radius: 4999px;
}

@media only screen and (max-width: 768px){
  .container {
    position: relative;
    width: 30%;
  }
}