.pageContainer {
  height: 1600px;
}

.headerSection {
  height: 40%;
  background-image: url("/images/get-involved/header-section-bg.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSection {
  height: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialsSection {
  flex: 1 1 0;
  margin-left: 6%;
}

.descriptionSection {
  flex: 1 1 0;
  margin: 6%;
  display: flex;
  flex-direction: column;
}

.descriptionHeader {
  font-size: 36px;
}

.descriptionText {
  margin: 0;
}

.descriptionBtn {
  width: 35%;
  height: 50px;
  font-size: 18px;
  margin-top: 5%;
  align-self: flex-end;
  background-color: #5d90cd;
  color: white;
  border: 0px;
  border-radius: 10px;
}
