.container {
  background: linear-gradient(91.59deg, #ffd596 9.94%, #ffa41b 96.81%);
  position: relative;
}

.circlesBGOverlay {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='1470' viewBox='0 0 1440 1470' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M418 1164C418 1332.5 289.449 1469 131 1469C-27.4495 1469 -156 1332.5 -156 1164C-156 995.495 -27.4495 859 131 859C289.449 859 418 995.495 418 1164Z' stroke='%235D90CD' stroke-width='2'/%3E%3Ccircle opacity='0.5' cx='1350' cy='858' r='71' stroke='%23DA880C' stroke-width='2' stroke-dasharray='4 4'/%3E%3Ccircle opacity='0.3' cx='1398.5' cy='696.5' r='160.5' stroke='%235D90CD' stroke-width='2'/%3E%3Ccircle opacity='0.5' cx='36.5' cy='110.5' r='109.5' stroke='%23DA880C' stroke-width='2' stroke-dasharray='4 4'/%3E%3C/svg%3E");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 150%;
  pointer-events: none;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2 {
  font-family: Hatton !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 30.24px !important;
  color: #052f61;
}

#links {
  color: #052f61;
  list-style: none;
}

.headlineContainer {
  position: relative;
  width: 568px;
  height: 160px;
  left: -225px;
  margin: 120px 0 40px;
  font-size: 18px;
  font-family: Arial;
}

.tagContainer {
  padding-top: 15px;
}

.tag {
  display: inline-flex;
  font-size: 16px !important;
  line-height: 22px;
  width: fit-content;
  color: #ffffff;
  padding: 4px 14px;
  margin: 3px 6px 3px 0px;
  border-radius: 48px;
}

.profilePhoto {
  width: 310px;
  height: 310px;
  object-fit: fill;
  position: relative;
  border-radius: 50%;
  top: -390px;
  margin-bottom: -390px;
}

.bodyContainer {
  background-color: #ffffff;
  width: 100%;
}

.articleContainer {
  width: 1350px;
  margin: auto;
}

.article {
  display: inline-block;
  padding: 30px 50px;
  vertical-align: top;
  font-family: Arial;
  line-height: 25px;
  /* Dark Grey */
  color: #333333;
}
.article .h2 {
  margin-bottom: -10px;
  margin-top: 30px;
}
