#welcomeSection {
  overflow: hidden;
  position: relative;
  background-image: url("/images/welcome-background.svg");
  background-size: cover;
  padding-top: 18%;
  padding-bottom: 20%;
}

#welcomeHeader {
  margin: 2% auto 2% 10%;
}

#welcomeBody {
  margin-left: 10%;
  max-width: 40rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinningLogo {
  position: absolute;
  width: 20%;
  left: 70%;
  bottom: 12%;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#arrowIcon {
  position: absolute;
  width: 20%;
  left: 70%;
  bottom: 12%;
  transform: scale(0.5, 0.5);
}

#addressSection {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  padding-top: 8%;
  padding-bottom: 8%;
}

#leftLogo {
  position: absolute;
  float: left;
  height: 100%;
  bottom: 0%;
  right: 78%;
}

#rightLogo {
  position: absolute;
  float: right;
  height: 100%;
  bottom: 0%;
  left: 78%;
}

#formSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-image: url("/images/form-background.svg");
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}

#formBody {
  width: 40%;
}

#formHeader {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#formText {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#formIcons {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

#formInput {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  width: 35%;
  height: 12rem;
  border-radius: 1rem;
  background-color: #da880c;
}

#emailField {
  grid-column: 1 / span 2;
  width: 71%;
  height: 60%;
  font-size: 100%;
  border: none;
  border-radius: 1rem;
  align-self: flex-end;
  padding-left: 9%;
  padding-right: 9%;
}

#nameField {
  width: 61%;
  height: 60%;
  font-size: 100%;
  border: none;
  border-radius: 1rem;
  align-self: flex-start;
  justify-self: end;
  padding-left: 15%;
  padding-right: 15%;
}

#submitBtn {
  background-color: #333333;
  color: white;
  width: 75%;
  height: 65%;
  font-size: 100%;
  border: none;
  border-radius: 1rem;
  align-self: flex-start;
}
