.cardContainer {
    background: #FFFFFF;
    border-radius: 10px;
    width: 45%;
}

.cardTitle {
    position: relative;
    width: 15rem;
    margin: 10%;
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #333333;
}
.cardContents {
    display: flex;
    /* position: relative; */
    width: 9rem;
    left: 11%;
    margin-right: 5%;
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    text-transform: capitalize;
    color: #333333;
}

.cardIcon {
    width: 2%;
    height: 2%;
    right: 3vw;
    bottom: 2vh;
}

/* Mobile view */

@media screen and (max-width: 1350px) {
    .cardTitle {
        font-size: 16px;
        line-height: 18px;
        width: 80%;
    }

    .cardContainer {
    }
}

@media screen and (max-width: 400px) {
    .cardTitle {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 350px) {
}