.popupBackground{
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContainer {

    width: 53%;
    height: 30vw;

    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

.left{
    margin-top: 7%;
    margin-left: 6%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 4%;
}

.email {
    font-family: 'Hatton';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6rem;
}

.profilePic {
    overflow: hidden;
    position: relative;

    width: 198px;
    height: 198px;

    border-radius: 50%;
}

.profilePic::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.name {
    width: 14.7rem;
    height: 1.9rem;

    font-family: 'Hatton';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.info {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}