html,

.Mission-Statement{
  position: absolute;
  display: flex;
  background-image: url(../public/about_background.svg);
  background-repeat: no-repeat;

  background-size: cover;
  
  height: 807px;
}
.Mission-Title{
position: absolute;

width: 332px;
height: 91px;
left: 144px;
top: 265px;
font-family: "Hatton";
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 91px;
color: #FFFFFF;
/* identical to box height */
display: flex;
align-items: center;
}

.Mission-Paragraph{
position: absolute;
width: 632px;
height: 221px;
left: 144px;
top: 356px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* or 139% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #ffffff;
}

.Our-Pillars-Title{
  position: absolute;
  width: 338px;
  height: 60px;
  left: 144px;
  top: 733px;
  font-family: "Hatton";
  font-size: 48px;
  line-height: 91px;
  color: #333333;
  /* identical to box height */
  display: flex;
  align-items: center;
}

.Pillar-Container{
  position: absolute;
  width: 1440px;
  height: 592px;
  left: 0px;
  top: 786px;
  background: #333;
  mix-blend-mode: normal;
  display: flex;
}

.pillar-1{
  width:283px;
  height:334px;
  top: 895px;
  padding-top: 34px;
  padding-left: 33px;
  margin-left: 104px;
  margin-top: 88px;
  margin-right: 20px;
  background: #ffffff;
  border-radius: 10px;

  font-family: "Hatton";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
}
.pillar-2{
width: 283px;
height: 334px;
top: 895px;
padding-top: 34px;
padding-left: 33px;
margin-top: 88px;
margin-left: 0px;
margin-right: 20px;
background: #ffffff;
border-radius: 10px;

font-family: "Hatton";
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
align-items: center;
text-transform: capitalize;
color: #333333;}

.pillar-3{
width: 283px;
height: 334px;
top: 895px;
padding-top: 34px;
padding-left: 33px;
margin-top: 88px;
margin-left: 0px;
margin-right: 20px;
background: #ffffff;
border-radius: 10px;
font-family: "Hatton";
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
align-items: center;
text-transform: capitalize;
color: #333333;
}

.pillar-4{
width: 283px;
height: 334px;
top: 895px;
padding-top: 34px;
padding-left: 33px;
margin-top: 88px;
margin-left: 0px;
margin-right: 104px;
background: #ffffff;
border-radius: 10px;

font-family: "Hatton";
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30.24px;
align-items: center;
letter-spacing: 0.01em;
text-transform: capitalize;
color: #333333;
}

.Donate-Rectangle{
position: absolute;
width: 1200px;
height: 240px;
left: 120px;
top: 1439px;

display: flex;
background: #333333;
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
border-radius: 35px;
}

.Donate{
position: relative;
width: 227px;
height: 60px;
left: 74px;
top: 89px;
/* Heading 2 */
font-family: "Hatton";
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #F3F3F3;

}
.To-our-mission{
  /* Heading 2 */
  position: absolute;
  top: 52px;
  left: 0px;
  width: 196px;
  height: 20px;
  
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #F3F3F3;

}

.Where{
  position: absolute;
  width: 519px;
  height: 116px;
  top: 62px;
  left: 386px;
/* Body */
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* or 111% */
letter-spacing: 0.03em;
color: #F3F3F3; 
}

.Donate-Button {
  position: absolute;
  width: 123px;
  height: 123px;
  left: 1002px;
  top: 59px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.Associates_list{
position: absolute;
width: 435px;
height: 60px;
left: 503px;
top: 1802px;

font-family: 'Hatton';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #333333;

}
.Kieu{
position: absolute;
width: 223px;
height: 30px;
left: 354px;
top: 1906px;

/* Arial Heading */

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #333333;

}
h3{
position: absolute;
width: 312px;
height: 56px;
left: 354px;
top: 1939px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #333333;

}
.Iris{
position: absolute;
width: 156px;
height: 30px;
left: 866px;
top: 1906px;

/* Arial Heading */

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #333333;

}
h2{
position: absolute;
width: 314px;
height: 34px;
left: 866px;
top: 1936px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #333333;

}

.Angie{
position: absolute;
width: 156px;
height: 30px;
left: 356px;
top: 2052px;

/* Arial Heading */

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #333333;

}

h4{
position: absolute;
width: 312px;
height: 63px;
left: 356px;
top: 2081px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #333333;

}

.contact_rectangle{
position: absolute;
width: 1440px;
height: 306px;
top: 2588px;
left: 0px;
background: linear-gradient(91.59deg, #052F61 9.94%, #5D90CD 96.81%);

}
.keep{
position: absolute;
width: 471px;
height: 45px;
left: 155px;
bottom: 168px;

font-family: 'Hatton';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 45px;
text-transform: uppercase;

color: #F3F3F3;

}
.update{
position: absolute;
width: 422px;
height: 18px;
left: 155px;
bottom: 150px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;

color: #F3F3F3;

}

.emailname_rectangle{
position: absolute;
width: 444px;
height: 149px;
left: 845px;
bottom: 90px;

background: #052F61;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.email_rectangle{
position: absolute;
width: 369px;
height: 44px;
left: 880px;
bottom: 174px;

background: #FFFFFF;
border-radius: 10px;
}

.name_rectangle{
position: absolute;
width: 256px;
height: 44px;
left: 880px;
bottom: 114px;

background: #FFFFFF;
border-radius: 10px;
}