.container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.headshot {
  border-radius: 50%;
  width: 30%;
  margin: 2%;
}

.text {
  margin: 2%;
}

@media screen and (max-width: 480px) {
  .container {
    margin-bottom: 15%;
  }
}
