.container {
    display: flex;
    /* height: 500px; */
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 100px;
}

.container>img {
    width: 40%;
    max-width: 500px;
}

.info {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.info>h2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 23px;
}

.info>h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 32px;
}

.info>p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 20px;
}

.info>button {
    padding: 15px 40px;
    background: #DA880C;
    border-radius: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;
    border: none;
    margin-top: auto;
    margin-left: auto;
}

.tags {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.tags>p {
    background: #D8A559;
    border-radius: 48px;
    border: none;
    color: white;
    padding: 5px 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}

.tags>p:first-child {
    background: #D8A559;
    margin-right: 6px;
}

.tags>p:nth-child(2) {
    background: #7A935B;
    margin-right: 6px;
}

.tags>p:nth-child(3) {
    background: #44848E;
}

@media screen and (max-width: 768px) {
    .info {
        padding: 25px;
    }

    .info>h2 {
        font-size: 20px;
        line-height: 1.2;
    }

    .info>h3 {
        font-size: 14px;
        line-height: 1.2;
    }

    .info>p {
        font-size: 12px;
        line-height: 1.2;
    }
    
    .tags>p {
        font-size: 10px;
        line-height: 1.2;
    }

    .info > button {
        padding: 10px 15px;
        font-size: 12px;
        line-height: 1.2;
    }
}
