.eventHeader{
  background-image: url("/welcome_background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20% 0 10% 0;
  gap: 4em;
}

.title{
  /* identical to box height, or 102% */
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Heading 1 */
  font-family: Hatton;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5em;
  line-height: 0.05em;
  text-transform: uppercase;

  /* Dark Grey */
  color: #333333;

  margin: 1em;
}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .title {
    font-size: 4em;
}
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 3em;
}

}