.event {
    max-width: 1265px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: row;

    position: relative;

    background: #FFFFFF;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
}

.event_image {
    height: 500px;
    width: 498px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc {
    font-family: Arial;
    font-style: normal;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 700;

    --desc-width: 
}

.desc h3 {
    font-size: 24px;
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc b {
    font-size: 16px;
    line-height: 18px;
}

.desc p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    max-height: 125px;
    margin-bottom: 0px;
}

.eventDesc {
    max-height: 125px;
    overflow-y: scroll;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /* explicitly set max width, might need different sol. also displaces button*/
    max-width: 663px; 
    overflow: scroll;
}

.tag p {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

    padding: 5px 15px;
    background: #D8A559;
    color: white;
    border-radius: 48px;

    margin-right: 10px;

}

.right button {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #DA880C;
    border-color: #DA880C;
    color: white;
    border-style: solid;

    width: 209px;
    height: 51px;
    align-self: flex-end;

    margin-bottom: 40px;
    margin-right: 50px;
}

.desc button:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1349px) {
    .event {
        width: 760px;
    }
    .event_image {
        height: 300px;
        width: 300px;
    }
    .desc h3 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .desc b {
        font-size: 12px;
        line-height: 14px;
    }
    .desc p {
        font-size: 14px;
        line-height: 14px;
        margin-top: 5px;
        max-height: 85px;
    }
    .tag {
        max-width: 358px;
    }
    .tag p {
        height: 20px;
        font-size: 10px;
        line-height: 10px;
    }
    .right button {
        font-size: 10px;
        line-height: 3px;
        
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;

        width: 150px;
        height: 25px;

        margin-bottom: 10px;

    }

}

@media only screen and (max-width: 768px) {
    .event {
        width: 320px;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .event_image {
        width: 125px;
        height: 125px;
    }
    .desc {
        margin-left: 5px;
        margin-right: 5px;
    }
    .desc h3 {
        margin-top: 5px;
        font-size: 8px;
        line-height: 8px;
        margin-bottom: 0px;
        max-height: 15px;
    }
    .desc b {
        font-size: 6px;
        line-height: 6px;
    }
    .desc p {
        font-size: 6px;
        line-height: 10px;
        margin-top: 5px;
        max-height: 30px;
    }
    .tag {
        max-width: 188px;
    }
    .tag p {
        height: 8px;
        font-size: 6px;
        line-height: 0px;
        font-weight: 400;
        padding: 5px 8px;
    }
    .right button {
        font-size: 8px;
        line-height: 3px;
    
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        width: 75px;
        height: 20px;
    
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 15px;
    
    }
}