button.upcoming_events:hover {
    cursor:pointer;
}

 button.past_events:hover {
    cursor:pointer;
}

button.upcoming_events  {
    background: none;
    border: none;
    
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;

    margin-top: 91px;
    margin-left: 360px;
    margin-right: 84px;
}

button.past_events {
    background: none;
    border: none;
    
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;

    margin-top: 91px;
}

.navtabs {
    padding-bottom: 50px;
    background-image: url('/images/circles-2.svg');
    background-size: cover;
}